<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Get Day of Date</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link href="style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <h1>Get Day of Date</h1>
      <div class="row">
        <form id="dateForm" class="col-5">
          <label for="dateInput" class="form-label"
            >Enter Date (DDMMYYYY):</label
          >
          <input
            type="text"
            id="dateInput"
            name="date"
            required
            class="form-control"
          />
          <button type="submit" class="btn btn-outline-info">Get Day</button>
        </form>
      </div>
      <input id="result" class="form-control" readonly />
    </div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <script>
      document
        .getElementById("dateForm")
        .addEventListener("submit", async (event) => {
          event.preventDefault();
          const date = document.getElementById("dateInput").value;
          try {
            const response = await fetch(`/getDay?date=${date}`);
            const data = await response.json();
            document.getElementById("result").value = `Day: ${data.day}`;
          } catch (error) {
            console.error("Error:", error);
          }
        });
    </script>
  </body>
</html>
